body
{
    margin: 0px;
    font-family: "Hiragino Kaku Gothic ProN";
    /*width: 1348px;*/
}
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
li {
    list-style: none;
}
header {
    background-color: #808080;
    font-family: 'Yu Mincho';
    height: 190px;
}
.header-logo {
    padding: 50px;
    font-size: 70px;
    float: left;
}
.header-list {
    padding-right: 50px;
}
.header-list li {
    float: right;
    font-size: 30px;
    padding: 80px 80px;
}

main {

    /*margin: 0px;
    height: 1180px;
    width: 1348px;*/
    /*各項目で幅や長さを指定しているので要らないみたい。*/
}
.catchCopy {
    padding: 50px 80px;
    height: 320px;
    width: 1188px;
    background-image: url(img/1DSC0233.png);
    background-size: 100%;
}
.catchCopy h1 {
    font-size: 40px;
    float: left;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #00ffff;

    }
.catchCopy h2 {
    font-size: 40px;
    float: right;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:  #87ceeb;
    }
.catchCopy span {
        text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:  #000080;
}
.renta-lplan {
    background-image: url(img/DSC0402.png);
    background-size: 100%;
    height: 760px;
    width: 1348px;
}
.rental-title {
    font-size: 30px;
    margin: 0px;
    font-weight: normal;
}
.rental-item {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}


footer {
    background-color: #2f5167;
    padding: 40px;
    height: 120px;
    font-family: 'Yu Mincho';
}
.footer-logo {
    float: left;
    font-size: 32px;
}
.footer-list {
    float: left;
    font-size: 22px;
}
.footer-list li {
    padding-bottom: 20px;
}
